.container{
    max-height: calc(100vh - 224px);
    overflow-y: auto;
}

.filter{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100px;
}

.mat-expanded{
    width: 100%;
}

.titleContainer{
    background-color: #edf6f9;
    border-radius: 5px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 20px; 
    width: calc(50% - 16px) !important;
    margin: 8px;
}


.shakerLocations{
    background-color: #edf6f9;   
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.shakerLocations > h4{
    margin-bottom: 0;
    margin-left: 10px;
}

@media (max-width: 1199px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 75% !important;
    }
}

@media (max-width: 767px) {
    .locationBase,.headerArea {
        flex-direction: column !important;
    }
    .shakerLocations > h4{
        margin: 0;
        text-align: center;
        padding: 5px;
    }
}
