
<div class="container">
    <button (click)="addShaker()" type="button" class="btn btn-outline-success">Çalkalayıcı Ekle</button>
    @if (shakerResponse.length > 0){
    <h1 class="text-center">Tanımlı Çalkalayıcılar</h1>
    @for (shaker of shakerResponse; track $index) {
    <div class="cardContainer">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3 headerArea">
                    <h2 class="card-title mb-0">{{shaker.shakerName}}</h2>
                    @if(shaker.status){
                    <span class="badge text-bg-success">Çalkalayıcı Çalışıyor</span>
                    }@else {
                    <span class="badge text-bg-warning">Çalkalıyıcı Çalışmıyor</span>
                    }
                </div>
                <div class="w-100 d-flex flex-row justify-content-between locationBase">
                    <div class="shakerLocations">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-building" viewBox="0 0 16 16">
                            <path
                                d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                            <path
                                d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z" />
                        </svg>
                        <h4>Bina: {{shaker.buildingName}}</h4>
                    </div>
                    <div class="shakerLocations">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-file-binary-fill" viewBox="0 0 16 16">
                            <path
                                d="M5.526 9.273c-.542 0-.832.563-.832 1.612 0 .088.003.173.006.252l1.56-1.143c-.126-.474-.375-.72-.733-.72zm-.732 2.508c.126.472.372.718.732.718.54 0 .83-.563.83-1.614 0-.085-.003-.17-.006-.25l-1.556 1.146" />
                            <path
                                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M7.05 10.885c0 1.415-.548 2.206-1.524 2.206C4.548 13.09 4 12.3 4 10.885c0-1.412.548-2.203 1.526-2.203.976 0 1.524.79 1.524 2.203m3.805 1.52V13h-3v-.595h1.181V9.5h-.05l-1.136.747v-.688l1.19-.786h.69v3.633h1.125z" />
                        </svg>
                        <h4>Kat: {{shaker.floorCount}}</h4>
                    </div>
                    <div class="shakerLocations">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-grid-1x2" viewBox="0 0 16 16">
                            <path
                                d="M6 1H1v14h5zm9 0h-5v5h5zm0 9v5h-5v-5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1z" />
                        </svg>
                        <h4>Oda: {{shaker.roomName}}</h4>
                    </div>
                </div>
                <a href="#" class="btn btn-outline-dark w-100 mt-4">Çalkalayıcı İşlemleri</a>
            </div>
        </div>
    </div>

    }
    }@else{
    <h1>Tanımlı Çalkalayıcı Bulunamadı</h1>
    <button (click)="addShaker()" type="button" class="btn btn-outline-success">Çalkalayıcı Tanımla</button>
    }

</div>