@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar{
    width: 100% !important;
}

.navbar-dark{
    background-color: #0D1B2A !important;
}

.logo{
    width: 150px;
    height: auto;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.navbar-brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.title{
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

.quit{
    cursor: pointer;
}

@media(max-width: 600px) {
    .logo {
        display: none;
    }

    .navbar-brand{
        margin: 0;
        padding: 10px;
    }
    .title{
        text-align: center;
        width: 100%;
    }
}