<div class="wrapper">
    <div class="logo">
        <img src="../../../../assets/logo.png" class="logo" alt="">
    </div>
    <div class="title text-center pt-4">
        Shaker
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <input matInput [formControl]="userName" required type="text" class="form-control" placeholder="Kullanıcı Adı" aria-label="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <input matInput [formControl]="password" required type="password" class="form-control" placeholder="Şifre" aria-label="Password">
        </div>
        <button (click)="login()" [disabled]="userName.invalid || password.invalid" type="button" class="btn btn-warning btn-lg btn-block">Giriş Yap</button>
    </form>
</div>